@model eshoppgsoftweb.lib.Models.Ecommerce.ChangePasswordModel

<h1>ZMENA HESLA</h1>
@{
    using (Html.BeginUmbracoForm<eshoppgsoftweb.lib.Controllers.Ecommerce.CustomerDataController>("SaveMyPassword", null, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="naplnspajzu-form">
            @Html.ValidationSummary(true, "Heslo sa nepodarilo zmeniť. Prosím opravte chyby a skúste to znovu.")
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-4">
                    <div class="form-item">
                        @Html.LabelFor(m => m.OldPassword)
                        <div class="showpassword">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-item">
                        @Html.LabelFor(m => m.NewPassword)
                        <div class="showpassword">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-item">
                        @Html.LabelFor(m => m.NewPasswordRepeat)
                        <div class="showpassword">
                            @Html.PasswordFor(m => m.NewPasswordRepeat, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.NewPasswordRepeat)
                    </div>
                </div>
            </div>
            <div class="row new-section">
                <div class="col-md-12">
                    <a href="#" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-default btn-lg">Vykonať zmenu hesla</a>
                    <a href="@Url.Content("~/moj-ucet")" class="btn btn-default btn-lg">Späť</a>
                    <input type="submit" id="submitButton" class="hidden" />
                </div>
            </div>
        </div>
    }
}
