@model eshoppgsoftweb.lib.Models.Ecommerce.EshoppgsoftwebMemberModel

<h1>ZMENA HESLA</h1>

@{
    using (Html.BeginUmbracoForm<eshoppgsoftweb.lib.Controllers.Ecommerce.MemberController>("SavePassword", null, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="naplnspajzu-form">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6">
                    <div class="form-item-hidden">
                        @Html.TextBoxFor(m => m.MemberId, new { @class = "form-control", @readonly = "readonly" })
                        @Html.TextBoxFor(m => m.IsCustomerEdit, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-item">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-item">
                        @Html.LabelFor(m => m.Password)
                        <div class="showpassword">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-item">
                        @Html.LabelFor(m => m.PasswordRepeat)
                        <div class="showpassword">
                            @Html.PasswordFor(m => m.PasswordRepeat, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.PasswordRepeat)
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(true)
            <div class="row new-section">
                <div class="col-md-12">
                    <a href="#" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-default btn-lg">Zapísať</a>
                    <a href="@Url.Content(string.Format("~/moj-ucet/{0}", Model.IsCustomerEdit == eshoppgsoftweb.lib.Util.ParamUtil.IsCustomerEdit ? "zakaznici" : "uzivatelia"))" class="btn btn-default btn-lg">Späť</a>
                    <input type="submit" id="submitButton" class="hidden" />
                </div>
            </div>
        </div>
    }
}
