@inherits Umbraco.Web.Mvc.UmbracoViewPage<eshoppgsoftweb.lib.Models.Ecommerce.LostPasswordModel>


@if (TempData["success"] != null)
{
    <div class="message-div">
        <h1>ZABUDNUTÉ HESLO</h1>
        <p>
            Na zadanú e-mailovú adresu boli odoslané inštrukcie na obnovenie prístupu na naplnspajzu.sk.
        </p>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>ZABUDNUTÉ HESLO</h1>
            <div class="naplnspajzu-form">
                @using (Html.BeginUmbracoForm<eshoppgsoftweb.lib.Controllers.Ecommerce.CustomerRegisterController>("SubmitLostPassword", null, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-item">
                        <label>Zadajte vašu e-mailovú adresu</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mailová adresa" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>

                    @Html.ValidationSummary(true)
                    <div class="form-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="links">
                                    <a href="@Url.Content("~/nova-registracia")">Nová registrácia</a>
                                    <a href="@Url.Content("~/moj-ucet/prihlasenie")">Prihlásenie</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="submit">
                                    <a href="#" onclick="document.getElementById('submitLoginButton').click(); return false;" class="btn btn-primary btn-lg">Obnoviť prístup</a>
                                    <input type="submit" id="submitLoginButton" class="hidden" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
